#header {
  height: 8vh;
  background-color: black;
  text-align: center;
  position: relative;

  #current-round {
    font-size: 18px;
    padding: 5px;
  }

  #btnInfo {
    position: absolute;
    top: 5px;
    right: 10px;
    &:hover {
      cursor: pointer;
    }
  }

  #btnRestart {
    position: absolute;
    top: 5px;
    left: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}
