#main {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.section {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
  width: 40%;
  margin: 0 10px;
  text-align: center;
  border-radius: 12px;
  @media screen and (max-width: 425px) {
    width: 35%;
  }
}

.box {
  @include flex-c;
  height: 20%;
  &:not(.box:first-of-type) {
    border-top: 1px solid whitesmoke;
  }

  @media screen and (max-width: 425px) {
    flex-wrap: wrap;
    img {
      width: 48px;
    }
  }
}
