#main {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.section {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
  width: 45%;
  margin: 0 10px;
  text-align: center;
}

.box {
  @include flex-c;
  height: 15%;
  img {
    width: 40px;
  }
  @media screen and (max-width: 425px) {
    flex-wrap: wrap;
  }
}
